:root {
    --color-primary-red: hsl(0, 100%, 74%);
    --color-primary-green: hsl(154, 59%, 51%);

    --color-accent-blue: hsl(248, 32%, 49%);
    --color-accent-dark-blue: hsl(249, 10%, 26%);
    --color-accent-grayish-blue: hsl(246, 25%, 77%);

    --header-size: 1.7rem;
    --description-size: 1rem;

    @media (min-width: 64em) {
        --header-size: 2.5rem;
    }
}
