@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap");
:root {
  --color-primary-red: hsl(0, 100%, 74%);
  --color-primary-green: hsl(154, 59%, 51%);
  --color-accent-blue: hsl(248, 32%, 49%);
  --color-accent-dark-blue: hsl(249, 10%, 26%);
  --color-accent-grayish-blue: hsl(246, 25%, 77%);
  --header-size: 1.7rem;
  --description-size: 1rem;
}
@media (min-width: 64em) {
  :root {
    --header-size: 2.5rem;
  }
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  font-size: 100%;
  display: grid;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: white;
  min-width: 23.4375em;
  background-color: var(--color-primary-red);
  background-image: url(../../images/bg-intro-mobile.png);
  place-content: center;
}

.intro_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 1.5rem;
  max-width: 28em;
  gap: 3rem;
}
@media (min-width: 64em) {
  .intro_card {
    flex-direction: row;
    max-width: 62.5em;
    margin: 0 5.625rem;
  }
  .intro_card > * {
    flex: 1;
  }
}

.card_header_container {
  margin-top: 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media (min-width: 64em) {
  .card_header_container {
    margin: 0;
    justify-content: center;
    text-align: left;
  }
}

.card_header {
  font-size: var(--header-size);
  margin: 0 auto;
  max-width: 16ch;
  font-weight: 800;
  line-height: 1.2;
}
@media (min-width: 64em) {
  .card_header {
    margin: 0;
  }
}

.card_description {
  font-size: var(--description-size);
  font-weight: 400;
}

.trial_text {
  background-color: var(--color-accent-blue);
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
}

.card_body_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form {
  background: white;
  padding: 2rem;
  max-width: 40rem;
  border-radius: 0.5rem;
}
.form .input_container {
  margin-top: 1rem;
  position: relative;
}
.form .input_container.error input {
  border: 3px solid var(--color-primary-red);
  background-image: url(../../images/icon-error.svg);
  background-repeat: no-repeat;
  background-position: 95% 50%;
}
.form .input_container.error input::-moz-placeholder {
  color: transparent;
}
.form .input_container.error input::placeholder {
  color: transparent;
}
.form .input_container.error span {
  visibility: visible;
}
.form input {
  width: 100%;
  padding: 1rem;
  position: relative;
  border: 1px solid var(--color-accent-grayish-blue);
  border-radius: 0.5rem;
}
.form .error_message {
  color: red;
  text-align: end;
  display: block;
  font-size: 0.7rem;
  margin: 0.5rem 0;
  visibility: hidden;
}
.form .submit_button {
  cursor: pointer;
  width: 100%;
  padding: 1rem;
  position: relative;
  border: 1px solid var(--color-accent-grayish-blue);
  border-radius: 0.5rem;
  outline: transparent;
  border-radius: 0.5;
  background: var(--color-primary-green);
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.form .submit_button:hover {
  filter: brightness(110%);
}
.form .terms_and_services_text {
  color: var(--color-accent-grayish-blue);
  text-align: center;
  font-size: 0.7rem;
  margin-top: 1rem;
}
.form a {
  text-decoration: none;
  color: red;
}