@use "variables.scss";
@use "reset.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap");

body {
    font-size: 100%;
    display: grid;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    color: white;
    min-width: 23.4375em;
    background-color: var(--color-primary-red);
    background-image: url(../../images/bg-intro-mobile.png);
    place-content: center;
}

.intro_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.5rem;
    max-width: 28em;
    gap: 3rem;

    @media (min-width: 64em) {
        flex-direction: row;
        max-width: 62.5em;
        margin: 0 5.625rem;

        > * {
            flex: 1;
        }
    }
}

.card_header_container {
    margin-top: 6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media (min-width: 64em) {
        margin: 0;
        justify-content: center;
        text-align: left;
    }
}

.card_header {
    font-size: var(--header-size);
    margin: 0 auto;
    max-width: 16ch;
    font-weight: 800;
    line-height: 1.2;

    @media (min-width: 64em) {
        margin: 0;
    }
}

.card_description {
    font-size: var(--description-size);
    font-weight: 400;
}

.trial_text {
    background-color: var(--color-accent-blue);
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    text-align: center;
    font-weight: 400;
}

.card_body_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form {
    background: white;
    padding: 2rem;
    max-width: 40rem;
    border-radius: 0.5rem;

    .input_container {
        margin-top: 1rem;
        position: relative;

        &.error {
            input {
                border: 3px solid var(--color-primary-red);
                background-image: url(../../images/icon-error.svg);
                background-repeat: no-repeat;
                background-position: 95% 50%;

                &::placeholder {
                    color: transparent;
                }
            }

            span {
                visibility: visible;
            }
        }
    }

    input {
        width: 100%;
        padding: 1rem;
        position: relative;
        border: 1px solid var(--color-accent-grayish-blue);
        border-radius: 0.5rem;
    }

    .error_message {
        color: red;
        text-align: end;
        display: block;
        font-size: 0.7rem;
        margin: 0.5rem 0;
        visibility: hidden;
    }

    .submit_button {
        cursor: pointer;
        width: 100%;
        padding: 1rem;
        position: relative;
        border: 1px solid var(--color-accent-grayish-blue);
        border-radius: 0.5rem;
        outline: transparent;
        border-radius: 0.5;
        background: var(--color-primary-green);
        color: white;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;

        &:hover {
            filter: brightness(110%);
        }
    }

    .terms_and_services_text {
        color: var(--color-accent-grayish-blue);
        text-align: center;
        font-size: 0.7rem;
        margin-top: 1rem;
    }

    a {
        text-decoration: none;
        color: red;
    }
}
